.mapDiv {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.5vmax;
  padding: 50px 0 50px 0;
  justify-content: center;
}

.hours {
  width: 28%;
  padding: 0 5px 0 5px;
}

.hours h2 {
  margin-top: 1px;
}

form {
  height: 50%;
  width: 30%;
  padding: 0 4vmax 0 0;
}

.form-group {
  display: flex;
}

.form-group input, button {
  width: 100%;
  margin: 1vmin 0.5vmax 1vmin 0.5vmax;
  padding: 1vmin;
  font-size: 1vmax;
  background: aliceblue;
  border: 0.25vmin solid #0096CC;
  border-radius: 1vmin;
  color: #0096CC;
}

.navigation {
  height: 50%;
  width: auto;
  padding: 15px;
}

.googleMap {
  width: 75vmin;
  height: 50vmin;
  border-radius: 1rem;
}

@media only screen and (max-width: 550px) {
  .mapDiv {
    display: grid;
    justify-content: center;
  }
  .hours {
    width: 90vmin;
    display: grid;
    padding: 10px 0 10px 0;
    font-size: 2.25vh;
  }
  .hours h2, p {
    margin: 2px auto;
  }
  .mapDiv form {
    display: grid;
    font-size: 2.25vmax;
    width: 90vmin;
    padding: 0;
    height: 90%;
  }
  .form-group {
    margin: 3px auto;
    padding: 0;
    width: inherit;
  }
  .form-group input, button {
    font-size: 2vmax;
  }
  .navigation {
    display: grid;  
    font-size: 3vmax;
  }
  .googleMap {
    width: 90vmin;
    height: 40vmax;
  }
}
