.list {
  width: 85vw;
}

.item {
  background: rgb(255, 255, 255);
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vmax;
}

.title span {
  font-size: 1.5em;
}

.card {
  color: black;
  max-height: 0;
  font-size: 2vmax;
  overflow: hidden;
}

.card.show {
  height: auto;
  max-height: 9999px;
  transition: ease 10s;
}