.Navbar {
  display: inline;
  position: fixed;
  top: 3vmin;
  width: 95%;
  z-index: 1;
}

ul {
  list-style-type: none;
  font-size: 3.5vmin;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 5px 0 5px;
}

li:nth-child(n+2) {
  float: right;
  padding: 0 0.5vmax 0 0.5vmax;
}

a {
  cursor: default;
  color: #0096CC;
  text-decoration: none;
}

li:nth-child(n+2) a:hover {
  color: white;
}

@media only screen and (max-width: 550px) {
  .Navbar {
    margin: 3vmin 0;
  }
  li {
    display: inline;
    padding: 0 5px 0 0;
  }
}