html {
  background: #d8e1f1; 
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  outline: none;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100vh 100vh 50vh;
  grid-template-areas: 
  'section1'
  'section2'
  'section3'
  'section4'
  ;
}

.section1{
  grid-area: section1;

}
.section2{
  grid-area: section2;
  align-items: baseline;
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}
.section3{
  grid-area: section3;
  padding-top: 15vmin;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section4{
  grid-area: section4;
}
section {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #6080a8;
  text-transform: uppercase;
  font-size: 1.25vw;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

@media only screen and (max-width: 550px) {
  .app {
    overflow: hidden;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 300vh 100vh 100vh;
    grid-template-areas: 
    'section1'
    'section2'
    'section3'
    'section4'
  }
  .section2 {
    display: grid;
    padding: 0 5vmin 0 5vmin;
  }
} 
